table {
    width: 100%;
    }

  
.mat-cell {
    text-align: center;
    justify-content:center;
    padding: 8px 8px 8px 8px;
  }

.mat-cell-Property {
    width: 500px;
  }

th.mat-header-cell {
    text-align: center !important;
        font-size: 1rem;
    padding: 8px 8px 8px 8px;
  }
